[submodule "external/antlr4"]
	path = external/antlr4
	url = https://github.com/veriktig/antlr4
[submodule "external/JavaHamcrest"]
	path = external/JavaHamcrest
	url = https://github.com/veriktig/JavaHamcrest
[submodule "external/jline3"]
	path = external/jline3
	url = https://github.com/veriktig/jline3
[submodule "external/jtcl"]
	path = external/jtcl
	url = https://github.com/veriktig/jtcl
[submodule "external/junit4"]
	path = external/junit4
	url = https://github.com/veriktig/junit4
[submodule "external/jaxb-ri"]
	path = external/jaxb-ri
	url = https://github.com/veriktig/jaxb-ri
[submodule "external/felix-dev"]
	path = external/felix-dev
	url = https://github.com/veriktig/felix-dev
[submodule "external/osgi"]
	path = external/osgi
	url = https://github.com/veriktig/osgi
[submodule "external/odftoolkit"]
	path = external/odftoolkit
	url = https://github.com/veriktig/tdf-odftoolkit
[submodule "external/commons-cli"]
	path = external/commons-cli
	url = https://github.com/veriktig/commons-cli.git
[submodule "external/jdepz"]
	path = external/jdepz
	url = https://github.com/veriktig/jdepz.git
